Package: redletter
Version: ##version##
Section: base
Priority: optional
Architecture: amd64
Maintainer: Redletter, Inc. <support@redletter.eth>
Description: RedLetter Inc
Conflicts: redletter
Replaces: redletter
